#membersList.accordion {
  max-width: 827px;
  margin: auto;
  margin-top: 50px;
}

#membersList .accordion-collapse {
  background-color: rgba(0, 0, 0, 0.9);
}

#membersList .modify-options {
  position: absolute;
  right: 29px;
  display: flex;
}

#membersList .accordion-header .btn-sm {
  margin-left: 5px;
}

#membersList .accordion-body {
  color: white;
  align-items: center;
}

#membersList .accordion-button {
  background-color: black;
  color: darkred;
}

#membersList .accordion-button:not(.collapsed) {
  background-color: black;
  color: darkred;
}

.accordion-button::after {
  display: none;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgb(139 0 0 / 35%);
}

#membersList .img-thumbnail {
  max-width: 200px;
}

.bioPic {
  display: flex;
  justify-content: center;
  margin: 1px 0px;
}

.memberInfo {
  text-align: center;
  margin: 15px 0px;
  height: fit-content;
}

.memberInfo .role {
  color: darkred;
  text-shadow: 1px 1px #3b0600;
  font-size: 30px;
}

.linkVal {
  padding-left: 7px;
}

.addMember.btn {
  margin: 27px auto;
  max-width: 420px;
}

.bi-plus-square-fill {
  margin-right: 10px;
}

.deleteMember .modal-body span {
  color: darkred;
  margin: 0px 5px;
}
